<div class="home-container">
  <div class="hero-image">
    <div class="hero-text">
      <h2>Encuentra un tecnico profesional</h2>
      <br>
      <p>Mas de 1,000 tecnicos profesionales listos para ayudarte</p>
      <%= form_tag technicians_path, method: :get, class: "form-group" do %>
      <%= select_tag :category, options_for_select(@category_names), class: "form-control background-grey"  %>
      <%= submit_tag("Encuentra un tecnico", :class=>"btn btn-light", :name=>"submit", style: "margin-top: 40px; letter-spacing: 1px;") %>
      <% end %>
    </div>
  </div>
</div>


