.btn-smaller {
  width: 50px;
  length: 20px;
  font-size: 10px;
  margin: 5px 10px;
}

.btn-center {
  text-align: center;
}

#offline-button, #online-button {
  width: 55px;
  height: 30px;
  font-size: 12px;
}

.btn-group {
  margin-right: 15px;
}
