.cards-container {
  margin: 0 15px 0 15px;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  flex-direction: row;
  align-items: center;
}

.icon-card {
  height: 105px;
  width: 95px;
  box-shadow: 0 0.5px 0.5px rgba(0,0,0,0.4);
  background-size: cover !important;
  background-position: center;
  color: $dark-blue;
  margin: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.icon-description {
  font-size: 12px;
  color: $dark;
  margin-top: 5px;
  font-weight: bold;
  p {
    font-size: 12px;
  }
}

.icon img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
}

.lawyers-container {
  margin: 5px;
  a {
    text-decoration: none !important;
    color: $dark;
  }
}

.lawyer-card {
  box-shadow: 1px 1px 8px -1px rgba(39,26,195,0.4);
  width: 100%;
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: inline-flex;
  align-items: center;
  position: relative;
  background-color: white;
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 12px;
    color: $gray-dark;
  }

  hr {
    margin: 4px 0;
  }

.online-circle-green {
  background-color: $online-green;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 15px;
}

.online-circle-red {
  background-color: $online-red;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 15px;
}

.lawyer-avatar {
  width: 40%;
  display:flex;
  justify-content: center;
  img {
    border-radius: 50%;
    width: 85px;
    height: 85px;
    object-fit: cover;
    margin: 7.5px 0;
  }

}

.lawyer-decription {
  width: 150px;
  }

}

#name-size {
  font-size: 18px;
}

.search-results {
  h5 {
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.online-circle-green-large {
  background-color: $online-green;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  position: absolute;
  top: 90px;
  right: 30px;
}

.online-circle-red-large {
  background-color: $online-red;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  position: absolute;
  top: 90px;
  right: 30px;
}

.no-matching-result p {
  font-size: 16px;
  color: #6E6E6E;
 }
