.form-size {
  // width: 65px;
  height: 22px;
  font-size: 11px;
  padding: 2px;
  margin: 0 2.5px;
}

.filter-lawyers-container {
  position: sticky;
  top: 70px;
  left: 0px;
  padding: 10px 15px;
  background-color: white;
  width: 100%;
  z-index: 1;
}


.filter-column {
  padding-left: 0px;
}

.filter-button {
  width: 100%;
}
